<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Advance Payment Details</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  
  <section class="content">
    <div class="container-fluid">
        
            <!-- general form elements -->
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add Advance Payment</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" #myForm="ngForm" (ngSubmit)="myForm.form.valid && onSubmit();myForm.resetForm()" novalidate>
                  <div class="card-body">
                      <div class="row">
                          <div class="col-sm-3">
                            <!-- text input -->
                            <div class="form-group">
                              <label><b>Select Block</b></label>
                              <select class="form-control" [(ngModel)]="dataModal.GroupName" name="GroupId" (change)="blockchanged($event.target.value)">
                                <option value="0">--Select--</option>
                                <option *ngFor="let summary of blockList" value={{summary.groupId}}>
                                  {{summary.groupName}}
                                </option>
                              </select> 
                            </div>
                          </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label><b>House No.</b></label>
                              <select class="form-control" [(ngModel)]="dataModal.BunglowNo"  name="BunglowNo" (change)="bunglowchanged($event.target.value)">
                                <option value="0">--Select--</option>
                                <option *ngFor="let summary of bunglowList" value={{summary.bunglowNo}} >
                                  {{summary.bunglowNo}}
                                </option>
                              </select>
                            </div>
                          </div>
                          
                      </div>
                      <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                              <label><b>Owner Name</b></label>
                              <input type="text" class="form-control" [(ngModel)]="dataModal.OwnerName" name="OwnerName"
                                #OwnerName="ngModel" disabled>
                            </div>
                        </div>
                          <div class="col-sm-3">
                            <div class="form-group">
                              <label><b>Amount</b></label>
                              <input type="number" class="form-control" [(ngModel)]="dataModal.Amount" name="Amount"
                                #Amount="ngModel" required>
                              <span class="text-danger"
                                *ngIf="(Amount.touched || myForm.submitted) && Amount.errors?.required">
                                Amount is required
                              </span>
                            </div>
                          </div>
                          <div class="col-sm-3" *ngIf="isEditable">
                            <div class="form-group">
                              <label><b>Remaining Amount</b></label>
                              <input type="number" class="form-control" [(ngModel)]="dataModal.RemainAmount" name="RemainAmount"
                                #RemainAmount="ngModel">
                            </div>
                          </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                              <label><b>Bank Name</b></label>
                              <input type="text" class="form-control" [(ngModel)]="dataModal.BankName" name="BankName"
                                #BankName="ngModel" required>
                              <span class="text-danger"
                                *ngIf="(BankName.touched || myForm.submitted) && BankName.errors?.required">
                                Bank Name is required
                              </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                              <label><b>Branch Name</b></label>
                              <input type="text" class="form-control" [(ngModel)]="dataModal.BranchName" name="BranchName"
                                #BranchName="ngModel" required>
                              <span class="text-danger"
                                *ngIf="(BranchName.touched || myForm.submitted) && BranchName.errors?.required">
                                Branch Name is required
                              </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                              <label><b>Cheque No.</b></label>
                              <input type="text" class="form-control" [(ngModel)]="dataModal.ChequeNo" name="ChequeNo"
                                #ChequeNo="ngModel" required>
                              <span class="text-danger"
                                *ngIf="(ChequeNo.touched || myForm.submitted) && ChequeNo.errors?.required">
                                Cheque Number is required
                              </span>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                              <label><b>Cheque Date</b></label>
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">
                                    <i class="far fa-calendar-alt"></i>
                                  </span>
                                </div>
                                <input type="date" [(ngModel)]="dataModal.ChequeDate" name="ChequeDate"
                                #ChequeDate="ngModel" class="form-control float-right" id="reservation" required>
                                <span class="text-danger"
                                *ngIf="(ChequeDate.touched || myForm.submitted) && ChequeDate.errors?.required">
                                Cheque Date must be selected
                              </span>
                              </div>
                            </div>
                        </div>
                      </div>
                      <div class="row" *ngIf="isEditable">
                        <div class="col-sm-3">
                          <div class="form-group">
                            <label><b>Cheque Cleared?</b></label>
                            <select class="form-control" [(ngModel)]="dataModal.ChequeCleared" name="ChequeCleared" #ChequeCleared="ngModel">
                              <option value=0>--Select--</option>
                              <option value=0>Pending</option>
                              <option value=1>Cheque Bounced</option>
                              <option value=2>Cleared</option>
                            </select> 
                          </div>
                        </div>
                      </div>
                      
                  </div>
                  <!-- /.card-body -->
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary" [disabled]="!myForm.form.valid"> {{isEditable ? 'Update' : 'Add'}} </button>
      
                    <button type="reset" (click)="onReset()" class="btn btn-warning" style="margin: 10px;"> Reset </button>
                  </div>
                  <!-- /.card-footer -->
                </form>
            </div>
          
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    
  
  
  <!-- Main content -->
  <section class="content">
      <div class="row">
          <div class="col-12">
              <div class="card">
                  <div class="card-header">
                    <h3 class="card-title"><b>Manage Advance Payment Details</b></h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                      <table datatable class="table table-striped" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                          <thead>
                              <tr>
                                  <th>ID</th>
                                  <th>House No.</th>
                                  <th>Owner Name</th>
                                  <th>Remain Amount</th>
                                  <th>Cheque No.</th>
                                  <th>Cheque Date</th>
                                  <th>Cheque Cleared</th>
                                  <th>Edit</th>
                                  <th>Delete</th>
                              </tr>
                          </thead>
                          <tbody *ngIf="detailList != null || detailList?.length != 0">
                              <tr *ngFor="let detail of detailList">
                                  <td>{{detail.advanceId}}</td>
                                  <td>{{detail.bunglowNo}}</td>
                                  <td>{{detail.ownerName}}</td>
                                  <td>{{detail.remainAmount}}</td>
                                  <td>{{detail.chequeNo}}</td>
                                  <td>{{detail.chequeDate | date:"d-M-yyyy"}}</td>
                                  <td *ngIf="detail.chequeCleared==0">Pending</td> <td *ngIf="detail.chequeCleared==1">Cheque Bounced</td> <td *ngIf="detail.chequeCleared==2">Cleared</td>
                                  <td><button class="btn btn-warning btn-sm" (click)="editRow(detail)"><i class="fas fa-pencil-alt"></i>Edit</button></td>
                                  <td><button [ngClass]="detail.isActive ? 'btn btn-danger btn-sm' : 'btn btn-success btn-sm'"
                                        (click)="deleteRow(detail)"><i [ngClass]="detail.isActive ? 'fas fa-times-circle' : 'fas fa-check-circle'"></i>
                                        {{detail.isActive ? 'DeActive' : 'Active' }}
                                      </button>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <!-- /.card-body -->
                </div>
              
          </div>
          <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
  <!-- /.content -->