<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Cheque Details</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>

  <!-- Main content -->
<section class="content">
    <div class="container-fluid">
      <!-- SELECT2 EXAMPLE -->
      
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Enter Cheque Details</h3>
        </div>
        <!-- /.card-header -->
        
        <form role="form">
        <div class="card-body">
            <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1" class="col-form-label"><b>Enter Cheque No.</b></label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Cheque No.">
              </div>
            </div>
          </div>
          <div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1" class="col-form-label"><b>Owner Block</b></label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="B" disabled>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1" class="col-form-label"><b>Owner House No.</b></label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="101" disabled>
              </div>
              </div>
              <div class="col-md-6">
              <div class="form-group">
                <label for="exampleInputEmail1" class="col-form-label"><b>Owner Name</b></label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="Kapil Sharma" disabled>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1" class="col-form-label"><b>Bank</b></label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="ICICI" disabled>
              </div>
            </div>
            
            <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1" class="col-form-label"><b>Branch</b></label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="Vadaj" disabled>
              </div>
              </div>
              <div class="col-md-3">
              <div class="form-group">
                <label for="exampleInputEmail1" class="col-form-label"><b>Date</b></label>
                <input type="email" class="form-control" id="exampleInputEmail1" value="04-01-2020" disabled>
              </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="col-form-label"><b>Amount</b></label>
                  <input type="email" class="form-control" id="exampleInputEmail1" value="1500" disabled>
                </div>
              </div>
          </div>
            
        
            
        </div>
        <!-- /.card-body -->
          
          </form>
      </div>
      <!-- /.card -->
      


         
    </div><!-- /.container-fluid -->
  </section>  
