<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Bill Sample</title>
</head>

<body>
    <table>
        <tr>
            <td style='width: 100%; text-align: center;'>
                <table>
                    <tr>
                        <td colspan='2' align='center'>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'>
                            <h3>
                                <strong>Umiya(Gota)Owner's Association</strong>
                            </h3>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'>
                            <label>
                                <span style='color: black; font-size:8px; text-align: center;'>
                                    <b>Narayandham Bunglows,Nr Kharikat Canal,Nikol,Ahmedabad</b>
                                </span>
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'>
                            <span style='color: black; font-size:8px; text-align: center;'>R.G.NO : G11552</span>
                            <br />
                            <span style='color: black; font-size:8px; text-align: center;'>RECEIPT FOR MONTH :<b> April - 2020</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2' align='center'>
                            <span style='text-align: center;'>_________________________________________________</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan='2'>

                            <table style='width: 100%; border:1; text-align: center;'>
                                <tr>
                                    <td colspan='2' style='text-align: left; font-size:11px;'> Receipt No: XXX</td>
                                    <td colspan='2' style='text-align: left; font-size:11px;'>XXX</td>
                                    <td colspan='2' style='font-size:11px;text-align: left; '>Name : XXXX XXXX</td>
                                </tr>
                                <tr>
                                    <td colspan='2' style='text-align: left; font-size:11px;'>Date :</td>
                                    <td colspan='2' style='text-align: left; font-size:11px;'>09-05-2020</td>
                                    <td colspan='2' style='font-size:11px; text-align: left;'>Bno: XXX</td>
                                </tr>
                                <tr>
                                    <td colspan='2' style='text-align: left; font-size:11px;'>Current Unit :</td>
                                    <td colspan='2' style='text-align: left; font-size:11px;'>1001</td>
                                    <td colspan='2' style='font-size:11px;text-align: left; '>Past Unit : XXXX </td>
                                </tr>
                                <tr>
                                    <td colspan='2' style='text-align: left; font-size:11px;'>Unit Rate / ltr :</td>
                                    <td colspan='2' style='text-align: left; font-size:11px;'>XXX</td>
                                    <td colspan='2' style='font-size:11px;text-align: left; '>Bill Due date : 09-05-2020 </td>


                                </tr>
                                <tr>
                                    <td colspan='6' align='center'>
                                        <span style='text-align: center;'>___________________________________________________</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan='1' style='text-align:right; font-size:11px;'>Sr.No</td>
                                    <td colspan='3' style='text-align:center; font-size:11px;'>Detail</td>
                                    <td colspan='2' style='font-size:11px; text-align:left;'>Amount</td>
                                </tr>
                                <tr>
                                    <td colspan='6' align='center'>
                                        <span style='text-align: center;'>___________________________________________________</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan='1' style='text-align:right; font-size:11px;'>1</td>
                                    <td colspan='3' style='text-align:center; font-size:11px;'>Water Charge</td>
                                    <td colspan='2' style='font-size:11px; text-align:left;'> 800</td>
                                </tr>

                                <tr>
                                    <td colspan='1' style='text-align:right; font-size:11px;'>2</td>
                                    <td colspan='3' style='text-align:center; font-size:11px;'>Maintance </td>
                                    <td colspan='2' style='font-size:11px; text-align:left;'> 500</td>
                                </tr>

                                <tr>
                                    <td colspan='6' align='center'>
                                        <span style='text-align: center;'>___________________________________________________</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan='2' style='text-align:right; font-size:11px;'></td>
                                    <td colspan='2' style='text-align:center; font-size:11px;'>Total</td>
                                    <td colspan='2' style='font-size:11px; text-align:left;'>1200</td>
                                </tr>
                                <tr>
                                    <td colspan='6' align='center'>
                                        <span style='text-align: center;'>___________________________________________________</span>
                                    </td>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>