USE [WaterbillDB]
GO
/****** Object:  Schema [HangFire]    Script Date: 16-May-20 2:57:09 PM ******/
CREATE SCHEMA [HangFire]
GO
/****** Object:  Table [dbo].[AdvanceMaster]    Script Date: 16-May-20 2:57:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdvanceMaster](
	[AdvanceId] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerId] [bigint] NULL,
	[Amount] [numeric](18, 0) NULL,
	[RemainAmount] [numeric](18, 0) NULL,
	[ChequeNo] [varchar](50) NULL,
	[ChequeDate] [date] NULL,
	[BankName] [varchar](50) NULL,
	[BranchName] [varchar](50) NULL,
	[ChequeCleared] [bit] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_AdvanceMaster] PRIMARY KEY CLUSTERED 
(
	[AdvanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillTransaction]    Script Date: 16-May-20 2:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillTransaction](
	[BillId] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerId] [bigint] NULL,
	[Month] [int] NULL,
	[Year] [int] NULL,
	[BillDate] [datetime] NULL,
	[LastUnit] [bigint] NULL,
	[ReceiptNo] [varchar](50) NULL,
	[ReceiptURL] [varchar](100) NULL,
	[CurrentUnit] [bigint] NULL,
	[WaterBillAmount] [bigint] NULL,
	[Maintenance] [bigint] NULL,
	[OtherCharge] [bigint] NULL,
	[Penalty] [bigint] NULL,
	[Total] [bigint] NULL,
	[BillDueDate] [datetime] NULL,
	[BillStatus] [varchar](50) NULL,
	[PaymentType] [int] NULL,
	[PaymentDate] [datetime] NULL,
	[BankName] [varchar](50) NULL,
	[BranchName] [varchar](50) NULL,
	[ChequeDate] [date] NULL,
	[ChequeNo] [nchar](10) NULL,
	[AdvanceId] [bigint] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_BillTransaction] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConfigurationMaster]    Script Date: 16-May-20 2:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConfigurationMaster](
	[UnitId] [bigint] IDENTITY(1,1) NOT NULL,
	[UnitRate] [numeric](18, 0) NULL,
	[Penalty] [bigint] NULL,
	[BillDueDays] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_UnitMaster] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExcelFiles]    Script Date: 16-May-20 2:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExcelFiles](
	[UploloadId] [bigint] IDENTITY(1,1) NOT NULL,
	[UploadFileName] [varchar](100) NULL,
	[UploadURL] [varchar](100) NULL,
	[DownloadURL] [varchar](100) NULL,
	[Pass] [int] NULL,
	[Fail] [int] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_ExcelFiles] PRIMARY KEY CLUSTERED 
(
	[UploloadId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FinancialYearMaster]    Script Date: 16-May-20 2:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FinancialYearMaster](
	[YearId] [bigint] IDENTITY(1,1) NOT NULL,
	[YearName] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[Updatedby] [bigint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_FinancialYearMaster] PRIMARY KEY CLUSTERED 
(
	[YearId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupMaster]    Script Date: 16-May-20 2:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupMaster](
	[GroupId] [bigint] IDENTITY(1,1) NOT NULL,
	[GroupName] [varchar](50) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_GroupMaster] PRIMARY KEY CLUSTERED 
(
	[GroupId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaintenanceMaster]    Script Date: 16-May-20 2:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaintenanceMaster](
	[MaintenanceId] [bigint] IDENTITY(1,1) NOT NULL,
	[MaintenanceName] [varchar](50) NULL,
	[Amount] [bigint] NULL,
	[GroupId] [bigint] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_MaintenanceMaster] PRIMARY KEY CLUSTERED 
(
	[MaintenanceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonthMaster]    Script Date: 16-May-20 2:57:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonthMaster](
	[MonthId] [int] IDENTITY(1,1) NOT NULL,
	[Month] [varchar](50) NULL,
 CONSTRAINT [PK_MonthMaster] PRIMARY KEY CLUSTERED 
(
	[MonthId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OwnerMaster]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OwnerMaster](
	[OwnerId] [bigint] IDENTITY(1,1) NOT NULL,
	[OwnerName] [varchar](50) NULL,
	[BunglowNo] [varchar](50) NULL,
	[AnotherAddress] [varchar](50) NULL,
	[Mobile] [varchar](50) NULL,
	[EmailId] [varchar](50) NULL,
	[LastUnit] [float] NULL,
	[GroupId] [bigint] NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[CreatedBy] [bigint] NULL,
	[UpdatedBy] [bigint] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_OwnerMaster] PRIMARY KEY CLUSTERED 
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReceiptMonthCodeMaster]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReceiptMonthCodeMaster](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CurrentMonth] [int] NULL,
	[CurrentMonthCode] [nvarchar](1) NULL,
 CONSTRAINT [PK_PNRMonthCodeMaster] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentMaster]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMaster](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentName] [varchar](50) NULL,
	[StudentEmail] [varchar](50) NULL,
 CONSTRAINT [PK_StudentMaster] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YearMaster]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YearMaster](
	[YearID] [int] IDENTITY(1,1) NOT NULL,
	[Year] [bigint] NULL,
 CONSTRAINT [PK_YearMaster] PRIMARY KEY CLUSTERED 
(
	[YearID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[AggregatedCounter]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[AggregatedCounter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [bigint] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_CounterAggregated] PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Counter]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Counter](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [int] NOT NULL,
	[ExpireAt] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Hash]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Hash](
	[Key] [nvarchar](100) NOT NULL,
	[Field] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime2](7) NULL,
 CONSTRAINT [PK_HangFire_Hash] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Field] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Job]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Job](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[StateId] [bigint] NULL,
	[StateName] [nvarchar](20) NULL,
	[InvocationData] [nvarchar](max) NOT NULL,
	[Arguments] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Job] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobParameter]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobParameter](
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_JobParameter] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[JobQueue]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[JobQueue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Queue] [nvarchar](50) NOT NULL,
	[FetchedAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_JobQueue] PRIMARY KEY CLUSTERED 
(
	[Queue] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[List]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[List](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](max) NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_List] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Schema]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Schema](
	[Version] [int] NOT NULL,
 CONSTRAINT [PK_HangFire_Schema] PRIMARY KEY CLUSTERED 
(
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Server]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Server](
	[Id] [nvarchar](100) NOT NULL,
	[Data] [nvarchar](max) NULL,
	[LastHeartbeat] [datetime] NOT NULL,
 CONSTRAINT [PK_HangFire_Server] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[Set]    Script Date: 16-May-20 2:57:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[Set](
	[Key] [nvarchar](100) NOT NULL,
	[Score] [float] NOT NULL,
	[Value] [nvarchar](256) NOT NULL,
	[ExpireAt] [datetime] NULL,
 CONSTRAINT [PK_HangFire_Set] PRIMARY KEY CLUSTERED 
(
	[Key] ASC,
	[Value] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HangFire].[State]    Script Date: 16-May-20 2:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HangFire].[State](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[JobId] [bigint] NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
	[Reason] [nvarchar](100) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[Data] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangFire_State] PRIMARY KEY CLUSTERED 
(
	[JobId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdvanceMaster] ON 

INSERT [dbo].[AdvanceMaster] ([AdvanceId], [OwnerId], [Amount], [RemainAmount], [ChequeNo], [ChequeDate], [BankName], [BranchName], [ChequeCleared], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (3, 11, CAST(5000 AS Numeric(18, 0)), CAST(5000 AS Numeric(18, 0)), N'0000001', CAST(N'2020-05-04' AS Date), N'ABC Bank', N'RTO', 0, CAST(N'2020-05-02T18:38:17.367' AS DateTime), CAST(N'2020-05-02T18:38:17.367' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[AdvanceMaster] OFF
SET IDENTITY_INSERT [dbo].[BillTransaction] ON 

SET IDENTITY_INSERT [dbo].[BillTransaction] OFF
SET IDENTITY_INSERT [dbo].[ConfigurationMaster] ON 

INSERT [dbo].[ConfigurationMaster] ([UnitId], [UnitRate], [Penalty], [BillDueDays], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (1, CAST(8 AS Numeric(18, 0)), 100, 20, CAST(N'2020-04-28T22:33:57.933' AS DateTime), CAST(N'2020-04-28T22:33:57.933' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ConfigurationMaster] OFF
SET IDENTITY_INSERT [dbo].[ExcelFiles] ON 

INSERT [dbo].[ExcelFiles] ([UploloadId], [UploadFileName], [UploadURL], [DownloadURL], [Pass], [Fail], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (1, N'WaterBill2_2d24.xlsx', N'\Upload\UserUpload\WaterBill2_2d24.xlsx', N'\Upload\UserDownload\WaterBill2_2d24.xlsx', 8, 1, CAST(N'2020-05-15T00:22:49.933' AS DateTime), NULL, NULL, NULL, 1)
INSERT [dbo].[ExcelFiles] ([UploloadId], [UploadFileName], [UploadURL], [DownloadURL], [Pass], [Fail], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (2, N'WaterBill1_6220.xlsx', N'\Upload\UserUpload\WaterBill1_6220.xlsx', N'\Upload\UserDownload\WaterBill1_6220.xlsx', 1, 8, CAST(N'2020-05-15T00:32:26.687' AS DateTime), NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[ExcelFiles] OFF
SET IDENTITY_INSERT [dbo].[FinancialYearMaster] ON 

INSERT [dbo].[FinancialYearMaster] ([YearId], [YearName], [CreatedAt], [UpdatedAt], [CreatedBy], [Updatedby], [IsActive]) VALUES (1, N'2018-2019', CAST(N'2020-04-03T14:36:18.933' AS DateTime), CAST(N'2020-04-03T14:36:18.933' AS DateTime), NULL, NULL, 0)
INSERT [dbo].[FinancialYearMaster] ([YearId], [YearName], [CreatedAt], [UpdatedAt], [CreatedBy], [Updatedby], [IsActive]) VALUES (2, N'2019-2020', NULL, NULL, NULL, NULL, 0)
INSERT [dbo].[FinancialYearMaster] ([YearId], [YearName], [CreatedAt], [UpdatedAt], [CreatedBy], [Updatedby], [IsActive]) VALUES (3, N'2020-2021', NULL, NULL, NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[FinancialYearMaster] OFF
SET IDENTITY_INSERT [dbo].[GroupMaster] ON 

INSERT [dbo].[GroupMaster] ([GroupId], [GroupName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (1, N'A', CAST(N'2020-04-02T23:38:58.690' AS DateTime), CAST(N'2020-04-11T16:13:26.460' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[GroupMaster] ([GroupId], [GroupName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (2, N'B', CAST(N'2020-04-02T23:40:24.160' AS DateTime), CAST(N'2020-04-13T00:07:03.013' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[GroupMaster] ([GroupId], [GroupName], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (3, N'C', CAST(N'2020-04-02T23:40:24.160' AS DateTime), CAST(N'2020-04-11T16:15:10.257' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[GroupMaster] OFF
SET IDENTITY_INSERT [dbo].[MaintenanceMaster] ON 

INSERT [dbo].[MaintenanceMaster] ([MaintenanceId], [MaintenanceName], [Amount], [GroupId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (4, N'Cleaning', 100, 1, CAST(N'2020-04-12T22:04:30.553' AS DateTime), CAST(N'2020-04-19T01:26:36.463' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[MaintenanceMaster] ([MaintenanceId], [MaintenanceName], [Amount], [GroupId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (6, N'Cleaning', 100, 2, CAST(N'2020-04-13T10:50:56.317' AS DateTime), CAST(N'2020-04-13T11:06:34.327' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[MaintenanceMaster] ([MaintenanceId], [MaintenanceName], [Amount], [GroupId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (8, N'Cleaning', 100, 3, CAST(N'2020-04-13T10:55:54.563' AS DateTime), CAST(N'2020-04-13T12:57:37.813' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[MaintenanceMaster] OFF
SET IDENTITY_INSERT [dbo].[MonthMaster] ON 

INSERT [dbo].[MonthMaster] ([MonthId], [Month]) VALUES (1, N'Jan')
INSERT [dbo].[MonthMaster] ([MonthId], [Month]) VALUES (2, N'Feb')
INSERT [dbo].[MonthMaster] ([MonthId], [Month]) VALUES (3, N'Mar')
SET IDENTITY_INSERT [dbo].[MonthMaster] OFF
SET IDENTITY_INSERT [dbo].[OwnerMaster] ON 

INSERT [dbo].[OwnerMaster] ([OwnerId], [OwnerName], [BunglowNo], [AnotherAddress], [Mobile], [EmailId], [LastUnit], [GroupId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (3, N'Roni Panchal', N'A-101', N'Vastrapur', N'123456789', N'abc@example.com', 100, 1, CAST(N'2020-04-12T20:31:00.333' AS DateTime), CAST(N'2020-04-19T01:18:36.017' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[OwnerMaster] ([OwnerId], [OwnerName], [BunglowNo], [AnotherAddress], [Mobile], [EmailId], [LastUnit], [GroupId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (4, N'R Panchal', N'A-102', N'Vastrapur', N'123456789', N'abc@example.com', 0, 1, CAST(N'2020-04-12T20:33:56.133' AS DateTime), CAST(N'2020-04-18T22:41:31.960' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[OwnerMaster] ([OwnerId], [OwnerName], [BunglowNo], [AnotherAddress], [Mobile], [EmailId], [LastUnit], [GroupId], [CreatedAt], [UpdatedAt], [CreatedBy], [UpdatedBy], [IsActive]) VALUES (5, N'A Panchal', N'A-103', N'Vastrapur', N'123456789', N'abc@example.com', 1100, 1, CAST(N'2020-04-12T20:38:24.560' AS DateTime), CAST(N'2020-04-19T00:40:43.603' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[OwnerMaster] OFF
SET IDENTITY_INSERT [dbo].[ReceiptMonthCodeMaster] ON 

INSERT [dbo].[ReceiptMonthCodeMaster] ([Id], [CurrentMonth], [CurrentMonthCode]) VALUES (1, 1, N'A')
INSERT [dbo].[ReceiptMonthCodeMaster] ([Id], [CurrentMonth], [CurrentMonthCode]) VALUES (2, 2, N'B')
INSERT [dbo].[ReceiptMonthCodeMaster] ([Id], [CurrentMonth], [CurrentMonthCode]) VALUES (3, 3, N'C')
SET IDENTITY_INSERT [dbo].[ReceiptMonthCodeMaster] OFF
SET IDENTITY_INSERT [dbo].[StudentMaster] ON 

INSERT [dbo].[StudentMaster] ([StudentId], [StudentName], [StudentEmail]) VALUES (1, N'112', N'adsad@asd')
INSERT [dbo].[StudentMaster] ([StudentId], [StudentName], [StudentEmail]) VALUES (2, N'1ishan12', N'ishan@asd')
INSERT [dbo].[StudentMaster] ([StudentId], [StudentName], [StudentEmail]) VALUES (3, N'123', N'aaa@asd.sad')
SET IDENTITY_INSERT [dbo].[StudentMaster] OFF
SET IDENTITY_INSERT [dbo].[YearMaster] ON 

INSERT [dbo].[YearMaster] ([YearID], [Year]) VALUES (1, 2019)
INSERT [dbo].[YearMaster] ([YearID], [Year]) VALUES (2, 2020)
SET IDENTITY_INSERT [dbo].[YearMaster] OFF
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:deleted', 12, NULL)
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:failed:2020-05-09', 3, CAST(N'2020-06-09T11:30:31.350' AS DateTime))
INSERT [HangFire].[AggregatedCounter] ([Key], [Value], [ExpireAt]) VALUES (N'stats:failed:2020-05-10', 5, CAST(N'2020-06-10T15:26:12.807' AS DateTime))
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:Console.Write', N'CreatedAt', N'1588442272378', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:Console.Write', N'Cron', N'* * * * *', NULL)
INSERT [HangFire].[Hash] ([Key], [Field], [Value], [ExpireAt]) VALUES (N'recurring-job:Console.Write', N'Job', N'{"t":"System.Console, mscorlib","m":"Write","p":["System.String"],"a":["\"Easy!\""]}', NULL)
SET IDENTITY_INSERT [HangFire].[Job] ON 

INSERT [HangFire].[Job] ([Id], [StateId], [StateName], [InvocationData], [Arguments], [CreatedAt], [ExpireAt]) VALUES (11750, NULL, NULL, N'{"t":"System.Console, mscorlib","m":"Write","p":["System.String"]}', N'["\"Easy!\""]', CAST(N'2020-05-11T17:59:56.110' AS DateTime), CAST(N'2020-06-10T17:59:56.110' AS DateTime))
INSERT [HangFire].[Job] ([Id], [StateId], [StateName], [InvocationData], [Arguments], [CreatedAt], [ExpireAt]) VALUES (11841, 15951, N'Succeeded', N'{"t":"System.Console, mscorlib","m":"Write","p":["System.String"]}', N'["\"Easy!\""]', CAST(N'2020-05-15T17:44:09.530' AS DateTime), CAST(N'2020-05-16T17:44:09.973' AS DateTime))
INSERT [HangFire].[Job] ([Id], [StateId], [StateName], [InvocationData], [Arguments], [CreatedAt], [ExpireAt]) VALUES (11842, 15952, N'Succeeded', N'{"t":"WebApi.Interface.IBillTransactionService, WebApi","m":"BillService"}', N'[]', CAST(N'2020-05-15T17:44:09.807' AS DateTime), CAST(N'2020-05-16T17:44:11.230' AS DateTime))
GO
SET IDENTITY_INSERT [HangFire].[Job] OFF
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (11750, N'CurrentCulture', N'"en-US"')
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (11750, N'CurrentUICulture', N'"en-US"')
INSERT [HangFire].[JobParameter] ([JobId], [Name], [Value]) VALUES (11750, N'RecurringJobId', N'"Console.Write"')
GO
INSERT [HangFire].[Schema] ([Version]) VALUES (7)
INSERT [HangFire].[Server] ([Id], [Data], [LastHeartbeat]) VALUES (N'desktop-ud3j3tp:12060:5cc2449f-86de-46ff-87db-7857038d75c2', N'{"WorkerCount":20,"Queues":["default"],"StartedAt":"2020-05-16T08:19:17.1870176Z"}', CAST(N'2020-05-16T08:34:47.813' AS DateTime))
INSERT [HangFire].[Set] ([Key], [Score], [Value], [ExpireAt]) VALUES (N'recurring-jobs', 1589618100, N'Console.Write', NULL)
INSERT [HangFire].[Set] ([Key], [Score], [Value], [ExpireAt]) VALUES (N'recurring-jobs', 1589619600, N'IBillTransactionService.BillService', NULL)
SET IDENTITY_INSERT [HangFire].[State] ON 

INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (15947, 11841, N'Enqueued', N'Triggered by recurring job scheduler', CAST(N'2020-05-15T17:44:09.627' AS DateTime), N'{"EnqueuedAt":"1589564649604","Queue":"default"}')
INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (15950, 11841, N'Processing', NULL, CAST(N'2020-05-15T17:44:09.930' AS DateTime), N'{"StartedAt":"1589564649874","ServerId":"desktop-ud3j3tp:23136:1a42b676-15da-4638-a60d-13f7024fc332","WorkerId":"3211e65a-adc3-4f14-aed2-39b397dd1db9"}')
INSERT [HangFire].[State] ([Id], [JobId], [Name], [Reason], [CreatedAt], [Data]) VALUES (15951, 11841, N'Succeeded', NULL, CAST(N'2020-05-15T17:44:09.970' AS DateTime), N'{"SucceededAt":"1589564649960","PerformanceDuration":"24","Latency":"405"}')
GO
SET IDENTITY_INSERT [HangFire].[State] OFF
ALTER TABLE [HangFire].[JobParameter]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_JobParameter_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[JobParameter] CHECK CONSTRAINT [FK_HangFire_JobParameter_Job]
GO
ALTER TABLE [HangFire].[State]  WITH CHECK ADD  CONSTRAINT [FK_HangFire_State_Job] FOREIGN KEY([JobId])
REFERENCES [HangFire].[Job] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [HangFire].[State] CHECK CONSTRAINT [FK_HangFire_State_Job]
GO
/****** Object:  StoredProcedure [dbo].[SP_AdvanceMaster]    Script Date: 16-May-20 2:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_AdvanceMaster] 
		@AdvanceId	BIGINT =NULL,
		@OwnerId	BIGINT =NULL,
		@Amount	NUMERIC(18,0) =NULL,
		@RemainAmount	NUMERIC(18,0) =NULL,
		@ChequeNo	VARCHAR(50) =NULL,
		@ChequeDate	DATE =NULL,
		@BankName VARCHAR(50) =NULL,
		@BranchName VARCHAR(50) =NULL,
		@ChequeCleared BIT =NULL,
		@CreatedAt DATETIME =NULL,
		@UpdatedAt DATETIME =NULL,
		@CreatedBy	BIGINT =NULL,
		@UpdatedBy BIGINT =NULL,
		@IsActive BIT=NULL,
		@count INT = NULL,
		@NewRowsInsert BIGINT=NULL OUTPUT,
		@RowsInsert BIT=NULL OUTPUT,
		@Mode NVARCHAR(50)=NULL
		AS
BEGIN
	SET NOCOUNT OFF;  
	--DECLARE @RowCount1 INTEGER

	SET @NewRowsInsert = 0  

	IF @Mode='Insert'
		BEGIN
			IF NOT EXISTS (SELECT OwnerId FROM [dbo].[AdvanceMaster] WHERE OwnerId=@OwnerId and ChequeNo=@ChequeNo)
			BEGIN
			 INSERT INTO [dbo].[AdvanceMaster] (OwnerId, Amount, RemainAmount, ChequeNo, BankName, BranchName, ChequeCleared,ChequeDate, CreatedAt, UpdatedAt, CreatedBy, UpdatedBy, IsActive) VALUES
								(@OwnerId, @Amount, @Amount, @ChequeNo, @BankName, @BranchName, @ChequeCleared, @ChequeDate, CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), @CreatedBy, @UpdatedBy,@IsActive)
			SET @NewRowsInsert =  @@identity
			END
		END

	IF @Mode='Update'
		BEGIN
			IF NOT EXISTS (SELECT OwnerId FROM [dbo].[AdvanceMaster] WHERE OwnerId=@OwnerId and ChequeNo=@ChequeNo)
				BEGIN
					UPDATE [dbo].[AdvanceMaster] 
					SET OwnerId=@OwnerId, Amount=@Amount, RemainAmount=@RemainAmount, ChequeNo=@ChequeNo, BankName=@BankName, ChequeDate=@ChequeDate,
					BranchName=@BranchName, ChequeCleared=@ChequeCleared, UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE AdvanceId=@AdvanceId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
			ELSE
			BEGIN 
				IF  EXISTS (SELECT OwnerId FROM [dbo].[AdvanceMaster] WHERE OwnerId=@OwnerId and ChequeNo=@ChequeNo and AdvanceId=@AdvanceId)
				BEGIN
					UPDATE [dbo].[AdvanceMaster] 
					SET OwnerId=@OwnerId, Amount=@Amount, RemainAmount=@RemainAmount, ChequeNo=@ChequeNo, BankName=@BankName, ChequeDate=@ChequeDate,
					BranchName=@BranchName, ChequeCleared=@ChequeCleared, UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE AdvanceId=@AdvanceId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
				 
			END
			END

	IF @Mode ='SelectById'
	BEGIN
	SELECT * FROM [dbo].[AdvanceMaster] WHERE AdvanceId=@AdvanceId
	END
		
	IF @Mode ='SelectAll'
	BEGIN
		 SELECT am.*,om.OwnerName,om.BunglowNo,gm.GroupName FROM [dbo].[AdvanceMaster] as am 
		 INNER JOIN [dbo].[OwnerMaster] as om ON am.OwnerId=om.OwnerId 
		 INNER JOIN [dbo].[GroupMaster] as gm ON om.GroupId = gm.GroupId ORDER BY RemainAmount 
	END

	IF @Mode ='SelectFlag'
	BEGIN
		 SELECT * FROM [dbo].[AdvanceMaster] WHERE IsActive=@IsActive ORDER BY RemainAmount 
	END

	IF @Mode='Delete'
		BEGIN
				SET @IsActive = (SELECT IsActive FROM [dbo].[AdvanceMaster] WHERE AdvanceId=@AdvanceId)

				IF @IsActive = '1'
					SET @IsActive = '0'
				ELSE 
				SET @IsActive = '1'

			 	UPDATE [dbo].[AdvanceMaster] SET IsActive=@IsActive,UpdatedBy=@UpdatedBy, 
				UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
				WHERE AdvanceId=@AdvanceId
				SET @NewRowsInsert =  @@ROWCOUNT
		END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_BillTransaction]    Script Date: 16-May-20 2:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_BillTransaction] 
		@BillId    BIGINT =NULL,
		@OwnerId	BIGINT =NULL,
		@GroupId INT  =NULL,
		@Month	INT  =NULL,
		@Year	INT =NULL,
		@LastUnit	BIGINT =NULL,
		@ReceiptNo	varchar(50)	=NULL,
		@ReceiptURL	varchar(100)	=NULL,
		@CurrentUnit	BIGINT =NULL,
		@Maintenance	BIGINT =NULL,
		@OtherCharge	BIGINT =NULL,
		@Penalty	BIGINT =NULL,
		@BillDueDate	DATETIME =NULL,
		@BillDate	DATETIME =NULL,
		@Startdate	DATETIME =NULL,
		@Endate	DATETIME =NULL,
		@BillStatus	VARCHAR(50) =NULL,
		@PaymentType	INT =NULL,
		@BankName	VARCHAR(50) =NULL,
		@BranchName	VARCHAR(50) =NULL,
		@ChequeDate	DATE =NULL,
		@ChequeNo	NCHAR(10) =NULL,
		@AdvanceId	BIGINT =NULL,
		@Total	BIGINT =NULL,
		@CreatedAt DATETIME =NULL,
		@UpdatedAt DATETIME =NULL,
		@CreatedBy	BIGINT =NULL,
		@UpdatedBy BIGINT =NULL,
		@IsActive BIT=NULL,
		@count INT = NULL,
		@NewRowsInsert BIGINT=NULL OUTPUT,
		@RowsInsert BIT=NULL OUTPUT,
		@Mode VARCHAR(50)=NULL
		AS
BEGIN
	SET NOCOUNT OFF;  
	--DECLARE @RowCount1 INTEGER

	SET @NewRowsInsert = 0 

	IF @Mode='Insert'
		BEGIN
			IF NOT EXISTS (SELECT BillId FROM [dbo].[BillTransaction] WHERE OwnerId=@OwnerId AND Month=@Month AND Year=@Year )
			--and LastUnit=@LastUnit
			BEGIN

				DECLARE @billDueDays int
				DECLARE @diff BIGINT
				DECLARE @unitRate NUMERIC(18,0)
				DECLARE @WaterBillAmount NUMERIC(18,0)
				DECLARE @totalSub NUMERIC(18,0)
			

				SET @diff = @CurrentUnit - @LastUnit
				SET @unitRate = ( SELECT TOP 1 UnitRate from [dbo].[ConfigurationMaster] )
				SET @WaterBillAmount = (@diff * @unitRate)
				SET @totalSub =  @WaterBillAmount + @Maintenance + @OtherCharge
				SET @billDueDays =  ( SELECT TOP 1 BillDueDays from [dbo].[ConfigurationMaster] )

				SET @BillDueDate = DATEADD(DAY, @billDueDays -1 , @BillDueDate)

				EXEC SP_GetNewReceiptNumber @ReceiptNo OUT

				INSERT INTO [dbo].[BillTransaction] (OwnerId, Month, Year, LastUnit, CurrentUnit, Maintenance, OtherCharge, Penalty,WaterBillAmount, Total,BillDueDate,BillStatus, CreatedAt, UpdatedAt, CreatedBy, UpdatedBy, IsActive,ReceiptNo ,BillDate) VALUES
									(@OwnerId, @Month, @Year, @LastUnit, @CurrentUnit, @Maintenance, @OtherCharge, @Penalty,@WaterBillAmount, @totalSub,@BillDueDate,@BillStatus, CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), @CreatedBy, @UpdatedBy,@IsActive,@ReceiptNo,@BillDate)
				SET @NewRowsInsert =  @@identity

				UPDATE [dbo].[OwnerMaster] SET LastUnit=@CurrentUnit WHERE OwnerId = @OwnerId
			END

			IF EXISTS (SELECT AdvanceId FROM [dbo].[AdvanceMaster] WHERE OwnerId=@OwnerId AND RemainAmount>=@Total )
			BEGIN

				DECLARE @RemainAmount NUMERIC(18,0)

				SET @RemainAmount = (SELECT RemainAmount from [dbo].[AdvanceMaster] WHERE OwnerId=@OwnerId AND RemainAmount>=@Total)
				SET @AdvanceId = (SELECT RemainAmount from [dbo].[AdvanceMaster] WHERE OwnerId=@OwnerId AND RemainAmount>=@Total)

				SET @RemainAmount = @RemainAmount-@Total

				UPDATE [dbo].[BillTransaction] SET AdvanceId=@AdvanceId,BillStatus=2,PaymentType=3 WHERE BillId=@@identity
				UPDATE [dbo].[AdvanceMaster] SET RemainAmount=@RemainAmount, 
					UpdatedAt= CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) WHERE AdvanceId=@AdvanceId
			END
		END

	IF @Mode='Update'
		BEGIN
		UPDATE [dbo].[BillTransaction] SET BillStatus=@BillStatus, BankName=@BankName, BranchName=@BranchName, ChequeNo=@ChequeNo,
				PaymentType = @PaymentType, ChequeDate=@ChequeDate, UpdatedBy=@UpdatedBy,
				PaymentDate = CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) ,
				UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
				WHERE BillId=@BillId
				SET @NewRowsInsert =  @@ROWCOUNT
				 
		END


	IF @Mode='UpdatePDFURL'
	BEGIN
	UPDATE [dbo].[BillTransaction] SET ReceiptURL = @ReceiptURL
			Where BillId = @BillId
			SET @NewRowsInsert =  @@ROWCOUNT
	END

	IF @Mode ='SelectById'
	BEGIN
		SELECT bm.*,om.OwnerName,om.BunglowNo,gm.GroupName FROM [dbo].[BillTransaction] as bm
		INNER JOIN [dbo].[OwnerMaster] as om ON bm.OwnerId=om.OwnerId 
		INNER JOIN [dbo].[GroupMaster] as gm ON om.GroupId=gm.GroupId WHERE BillId=@BillId
	END
		
	IF @Mode ='SelectAll'
	BEGIN
		 SELECT bm.*,om.OwnerName,om.BunglowNo,gm.GroupName FROM [dbo].[BillTransaction] as bm
		 INNER JOIN [dbo].[OwnerMaster] as om ON bm.OwnerId=om.OwnerId 
		 INNER JOIN [dbo].[GroupMaster] as gm ON om.GroupId=gm.GroupId  ORDER BY BillId
	END

	IF @Mode ='SelectFlag'
	BEGIN
		 SELECT * FROM [dbo].[BillTransaction] WHERE IsActive=@IsActive ORDER BY BillId 
	END

	IF @Mode='Delete'
		BEGIN
				SET @IsActive = (SELECT IsActive FROM [dbo].[BillTransaction] WHERE BillId=@BillId)

				IF @IsActive = '1'
					SET @IsActive = '0'
				ELSE 
				SET @IsActive = '1'

			 	UPDATE [dbo].[BillTransaction] SET IsActive=@IsActive,UpdatedBy=@UpdatedBy, 
				UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
				WHERE BillId=@BillId
				SET @NewRowsInsert =  @@ROWCOUNT
		END

	IF @Mode = 'BillAUto'
	BEGIN
		DECLARE @penaltyAmount BIGINT
		SET @penaltyAmount =  ( SELECT TOP 1 Penalty from [dbo].[ConfigurationMaster] )
			UPDATE  BillTransaction 
			SET Penalty = @penaltyAmount , Total = Total + @PenaltyAmount
			WHERE BillStatus=0 AND CONVERT(VARCHAR(10),BillDueDate,101) < CONVERT(VARCHAR(10), GETDATE(),101)
			SET @NewRowsInsert =  @@ROWCOUNT
	END

	
	IF @Mode = 'BillReport'
	BEGIN
		 SELECT bm.*,om.OwnerName,om.BunglowNo,gm.GroupName FROM [dbo].[BillTransaction] as bm
		 INNER JOIN [dbo].[OwnerMaster] as om ON bm.OwnerId=om.OwnerId 
		 INNER JOIN [dbo].[GroupMaster] as gm ON om.GroupId=gm.GroupId 
		 Where
		(bm.OwnerId = ISNULL(@OwnerId, bm.OwnerId) OR bm.OwnerId IS NULL)
		AND (bm.PaymentType = ISNULL(@PaymentType, bm.PaymentType) OR bm.PaymentType IS NULL)
		AND (bm.BillStatus = ISNULL(@BillStatus, bm.BillStatus) OR bm.BillStatus IS NULL)
		AND (bm.BillDate >= ISNULL(@Startdate, bm.BillDate) OR bm.BillDate IS NULL)
		AND (bm.BillDate <= ISNULL(@Endate, bm.BillDate) OR bm.BillDate IS NULL)
		AND (om.GroupId = ISNULL(@GroupId, om.GroupId) OR om.GroupId IS NULL)

	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ConfigurationMaster]    Script Date: 16-May-20 2:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 

CREATE PROCEDURE [dbo].[SP_ConfigurationMaster] 
		@UnitId	BIGINT =NULL,
		@UnitRate NUMERIC(18,0) =NULL,
		@Penalty	BIGINT =NULL,
		@CreatedAt DATETIME =NULL,
		@UpdatedAt DATETIME =NULL,
		@CreatedBy	BIGINT =NULL,
		@UpdatedBy BIGINT =NULL,
		@IsActive BIT=NULL,
		@count INT = NULL,
		@NewRowsInsert BIGINT=NULL OUTPUT,
		@RowsInsert BIT=NULL OUTPUT,
		@Mode NVARCHAR(50)=NULL
		AS
BEGIN
	SET NOCOUNT OFF;  
	--DECLARE @RowCount1 INTEGER

	SET @NewRowsInsert = 0  

	IF @Mode='Insert'
		BEGIN
			TRUNCATE TABLE [dbo].[ConfigurationMaster]
			 INSERT INTO [dbo].[ConfigurationMaster] (UnitRate, Penalty, CreatedAt, UpdatedAt, CreatedBy, UpdatedBy, IsActive) VALUES
								(@UnitRate, @Penalty, CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), @CreatedBy, @UpdatedBy,@IsActive)
			SET @NewRowsInsert =  @@identity
		END

	IF @Mode='Update'
		BEGIN
			IF NOT EXISTS (SELECT UnitRate FROM [dbo].[ConfigurationMaster] WHERE UnitRate=@UnitRate)
				BEGIN
					UPDATE [dbo].[ConfigurationMaster] SET UnitRate=@UnitRate, Penalty=@Penalty, UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE UnitId=@UnitId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
			ELSE
			BEGIN 
				IF  EXISTS ( SELECT UnitRate FROM [dbo].[ConfigurationMaster] WHERE UnitRate=@UnitRate AND UnitId=@UnitId )
				BEGIN
					UPDATE [dbo].[ConfigurationMaster] SET UnitRate=@UnitRate, Penalty=@Penalty, UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE UnitId=@UnitId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
				 
			END
			END

	IF @Mode ='SelectById'
	BEGIN
	SELECT * FROM [dbo].[ConfigurationMaster] WHERE UnitId=@UnitId
	END
		
	IF @Mode ='SelectAll'
	BEGIN
		 SELECT * FROM [dbo].[ConfigurationMaster] ORDER BY UnitRate 
	END

	IF @Mode ='SelectFlag'
	BEGIN
		 SELECT * FROM [dbo].[ConfigurationMaster] WHERE IsActive=@IsActive ORDER BY UnitRate 
	END

	IF @Mode='Delete'
		BEGIN
				SET @IsActive = (SELECT IsActive FROM [dbo].[ConfigurationMaster] WHERE UnitId=@UnitId)

				IF @IsActive = '1'
					SET @IsActive = '0'
				ELSE 
				SET @IsActive = '1'

			 	UPDATE [dbo].[ConfigurationMaster] SET IsActive=@IsActive,UpdatedBy=@UpdatedBy, 
				UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
				WHERE UnitId=@UnitId
				SET @NewRowsInsert =  @@ROWCOUNT
		END


	IF @Mode='GetYear'
	BEGIN
			SELECT * FROM [dbo].[YearMaster]
	END

	IF @Mode='GetMonth'
	BEGIN
			SELECT * FROM [dbo].[MonthMaster]
	END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_ExcelFiles]    Script Date: 16-May-20 2:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_ExcelFiles] 
		@UploloadId	bigint =NULL,
		@UploadFileName	varchar(100) =NULL,
		@UploadURL	varchar(100) =NULL,
		@DownloadURL	varchar(100) =NULL,
		@Pass	int =NULL,
		@Fail	int =NULL,
		@CreatedAt DATETIME =NULL,
		@UpdatedAt DATETIME =NULL,
		@CreatedBy	BIGINT =NULL,
		@UpdatedBy BIGINT =NULL,
		@IsActive BIT=NULL,
		@count INT = NULL,
		@NewRowsInsert BIGINT=NULL OUTPUT,
		@RowsInsert BIT=NULL OUTPUT,
		@Mode NVARCHAR(50)=NULL
		AS
BEGIN
	SET NOCOUNT OFF;  
	--DECLARE @RowCount1 INTEGER

	SET @NewRowsInsert = 0  

	IF @Mode='Insert'
		BEGIN
		--Note Ishan : BunglowNo = 101  => A-101

			 
			 INSERT INTO [dbo].[ExcelFiles] ( UploadFileName, UploadURL, DownloadURL, Pass, Fail, CreatedAt, CreatedBy, IsActive) VALUES
										(@UploadFileName, @UploadURL, @DownloadURL, @Pass,@Fail,CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')),@CreatedBy,@IsActive)
			SET @NewRowsInsert =  @@identity
		END

	  
	IF @Mode ='SelectAll'
	BEGIN
		 SELECT * FROM [dbo].[ExcelFiles] ORDER BY CreatedAt 
	END


END
GO
/****** Object:  StoredProcedure [dbo].[SP_FinancialYearMaster]    Script Date: 16-May-20 2:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_FinancialYearMaster] 
		@YearId	BIGINT =NULL,
		@YearName VARCHAR(50) =NULL,
		@CreatedAt DATETIME =NULL,
		@UpdatedAt DATETIME =NULL,
		@CreatedBy	BIGINT =NULL,
		@UpdatedBy BIGINT =NULL,
		@IsActive BIT=NULL,
		@count INT = NULL,
		@NewRowsInsert BIGINT=NULL OUTPUT,
		@RowsInsert BIT=NULL OUTPUT,
		@Mode NVARCHAR(50)=NULL
		AS
BEGIN
	SET NOCOUNT OFF;  
	--DECLARE @RowCount1 INTEGER

	SET @NewRowsInsert = 0  

	IF @Mode='Insert'
		BEGIN
			IF NOT EXISTS (SELECT YearName FROM [dbo].[FinancialYearMaster] WHERE YearName=@YearName)
			BEGIN
			 INSERT INTO [dbo].[FinancialYearMaster] (YearName, CreatedAt, UpdatedAt, CreatedBy, UpdatedBy, IsActive) VALUES
								(@YearName, CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), @CreatedBy, @UpdatedBy,@IsActive)
			SET @NewRowsInsert =  @@identity
			END
		END

	IF @Mode='Update'
		BEGIN
			IF NOT EXISTS (SELECT YearName FROM [dbo].[FinancialYearMaster] WHERE YearName=@YearName )
				BEGIN
					UPDATE [dbo].[FinancialYearMaster] SET YearName=@YearName,UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE YearId=@YearId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
			ELSE
			BEGIN 
				IF  EXISTS ( SELECT YearName FROM [dbo].[FinancialYearMaster] WHERE YearName=@YearName AND YearId=@YearId )
				BEGIN
					UPDATE [dbo].[FinancialYearMaster] SET YearName=@YearName,UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE YearId=@YearId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
				 
			END
			END

	IF @Mode ='SelectById'
	BEGIN
	SELECT * FROM [dbo].[FinancialYearMaster] WHERE YearId=@YearId
	END
		
	IF @Mode ='SelectAll'
	BEGIN
		 SELECT * FROM [dbo].[FinancialYearMaster] ORDER BY YearName 
	END

	IF @Mode ='SelectFlag'
	BEGIN
		 SELECT * FROM [dbo].[FinancialYearMaster] WHERE IsActive=@IsActive ORDER BY YearName 
	END

	IF @Mode='Delete'
		BEGIN
				SET @IsActive = (SELECT IsActive FROM [dbo].[FinancialYearMaster] WHERE YearId=@YearId)

				IF @IsActive = '1'
					SET @IsActive = '0'
				ELSE 
				SET @IsActive = '1'

			 	UPDATE [dbo].[FinancialYearMaster] SET IsActive=@IsActive,UpdatedBy=@UpdatedBy, 
				UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
				WHERE YearId=@YearId
				SET @NewRowsInsert =  @@ROWCOUNT
		END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetNewReceiptNumber]    Script Date: 16-May-20 2:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC SP_GetNewReceiptNumber
CREATE PROCEDURE [dbo].[SP_GetNewReceiptNumber]
@PNR NVARCHAR(10)= NULL OUTPUT
AS
BEGIN

BEGIN TRY        
BEGIN TRANSACTION 

DECLARE @oldcode VARCHAR(10)= NULL  
DECLARE @CurrentMonth INT= NULL         
SELECT @CurrentMonth= MONTH(GETDATE())
DECLARE @CurrentMonthCode VARCHAR(1)= NULL       
SELECT @CurrentMonthCode = CurrentMonthCode FROM dbo.ReceiptMonthCodeMaster WHERE  CurrentMonth = @CurrentMonth

  SET @PNR = @CurrentMonthCode + '00001'        
  IF EXISTS (SELECT TOP 1 ReceiptNo FROM dbo.BillTransaction WHERE ReceiptNo IS NOT NULL AND ReceiptNo LIKE @CurrentMonthCode+'%'  ORDER BY BillId DESC)
  BEGIN     
	   SELECT TOP 1 @oldcode= ReceiptNo FROM dbo.BillTransaction 
	   WHERE ReceiptNo IS NOT NULL AND ReceiptNo LIKE @CurrentMonthCode+'%'  ORDER BY BillId DESC        
	   SELECT @PNR = CAST( CAST(SUBSTRING(@oldcode,2,6) AS INT) + 1 AS VARCHAR)    
	   
	   PRINT @PNR    
	   SELECT @PNR = STUFF( @CurrentMonthCode+'00000',6-LEN(@PNR)+1,LEN(@PNR),@PNR)       

  END  
	SELECT @PNR  AS PNR     
      
COMMIT TRANSACTION        
END TRY        
BEGIN CATCH        
ROLLBACK TRANSACTION        
END CATCH        

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GroupMaster]    Script Date: 16-May-20 2:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_GroupMaster] 
		@GroupId	BIGINT =NULL,
		@GroupName VARCHAR(50) =NULL,
		@CreatedAt DATETIME =NULL,
		@UpdatedAt DATETIME =NULL,
		@CreatedBy	BIGINT =NULL,
		@UpdatedBy BIGINT =NULL,
		@IsActive BIT=NULL,
		@count INT = NULL,
		@NewRowsInsert BIGINT=NULL OUTPUT,
		@RowsInsert BIT=NULL OUTPUT,
		@Mode VARCHAR(50)=NULL
		AS
BEGIN
	SET NOCOUNT OFF;  
	--DECLARE @RowCount1 INTEGER

	SET @NewRowsInsert = 0 

	IF @Mode='Insert'
		BEGIN
			IF NOT EXISTS (SELECT GroupName FROM [dbo].[GroupMaster] WHERE GroupName=@GroupName)
			BEGIN
			 INSERT INTO [dbo].[GroupMaster] (GroupName, CreatedAt, UpdatedAt, CreatedBy, UpdatedBy, IsActive) VALUES
								(@GroupName, CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), @CreatedBy, @UpdatedBy,@IsActive)
			SET @NewRowsInsert =  @@identity
			END
		END

	IF @Mode='Update'
		BEGIN
			IF NOT EXISTS (SELECT GroupName FROM [dbo].[GroupMaster] WHERE GroupName=@GroupName )
				BEGIN
					UPDATE [dbo].[GroupMaster] SET GroupName=@GroupName,UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE GroupId=@GroupId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
			ELSE
			BEGIN 
				IF  EXISTS ( SELECT GroupName FROM [dbo].[GroupMaster] WHERE GroupName=@GroupName AND GroupId=@GroupId )
				BEGIN
					UPDATE [dbo].[GroupMaster] SET GroupName=@GroupName,UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE GroupId=@GroupId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
				 
			END
			END

	IF @Mode ='SelectById'
	BEGIN
	SELECT * FROM [dbo].[GroupMaster] WHERE GroupId=@GroupId
	END
		
	IF @Mode ='SelectAll'
	BEGIN
		 SELECT * FROM [dbo].[GroupMaster] ORDER BY GroupName 
	END

	IF @Mode ='SelectFlag'
	BEGIN
		 SELECT * FROM [dbo].[GroupMaster] WHERE IsActive=@IsActive ORDER BY GroupName 
	END

	IF @Mode='Delete'
		BEGIN
				SET @IsActive = (SELECT IsActive FROM [dbo].[GroupMaster] WHERE GroupId=@GroupId)

				IF @IsActive = '1'
					SET @IsActive = '0'
				ELSE 
				SET @IsActive = '1'

			 	UPDATE [dbo].[GroupMaster] SET IsActive=@IsActive,UpdatedBy=@UpdatedBy, 
				UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
				WHERE GroupId=@GroupId
				SET @NewRowsInsert =  @@ROWCOUNT
		END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_MaintenanceMaster]    Script Date: 16-May-20 2:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_MaintenanceMaster] 
		@MaintenanceId	BIGINT =NULL,
		@MaintenanceName VARCHAR(50)=NULL,
		@Amount BIGINT =NULL,
		@GroupId BIGINT =NULL,
		@CreatededAt DATETIME =NULL,
		@UpdatedAt DATETIME =NULL,
		@CreatedBy	BIGINT =NULL,
		@UpdatedBy BIGINT =NULL,
		@IsActive BIT=NULL,
		@count INT = NULL,
		@NewRowsInsert BIGINT=NULL OUTPUT,
		@RowsInsert BIT=NULL OUTPUT,
		@Mode NVARCHAR(50)=NULL
		AS
BEGIN
	SET NOCOUNT OFF;  
	--DECLARE @RowCount1 INTEGER

	SET @NewRowsInsert = 0  

	IF @Mode='Insert'
		BEGIN
			IF NOT EXISTS (SELECT Amount FROM [dbo].[MaintenanceMaster] WHERE Amount=@Amount and GroupId=@GroupId)
			BEGIN
			 INSERT INTO [dbo].[MaintenanceMaster] (MaintenanceName, Amount, GroupId, CreatedAt, UpdatedAt, CreatedBy, UpdatedBy, IsActive) VALUES
								(@MaintenanceName, @Amount, @GroupId, CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), @CreatedBy, @UpdatedBy,@IsActive)
			SET @NewRowsInsert =  @@identity
			END
		END

	IF @Mode='Update'
		BEGIN
			IF NOT EXISTS (SELECT MaintenanceName FROM [dbo].[MaintenanceMaster] WHERE Amount=@Amount and GroupId=@GroupId )
				BEGIN
					UPDATE [dbo].[MaintenanceMaster] SET MaintenanceName=@MaintenanceName, Amount=@Amount, GroupId=@GroupId, UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE MaintenanceId=@MaintenanceId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
			ELSE
			BEGIN 
				IF  EXISTS ( SELECT MaintenanceName FROM [dbo].[MaintenanceMaster] WHERE Amount=@Amount and MaintenanceId=@MaintenanceId )
				BEGIN
					UPDATE [dbo].[MaintenanceMaster] SET MaintenanceName=@MaintenanceName, Amount=@Amount, GroupId=@GroupId, UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE MaintenanceId=@MaintenanceId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
				 
			END
			END

	IF @Mode ='SelectById'
	BEGIN
	SELECT * FROM [dbo].[MaintenanceMaster] WHERE MaintenanceId=@MaintenanceId
	END
		
	IF @Mode ='SelectAll'
	BEGIN
		 SELECT mm.*,gm.GroupName FROM [dbo].[MaintenanceMaster] AS mm
		 INNER JOIN  [dbo].[GroupMaster] gm ON mm.GroupId = gm.GroupId
		 ORDER BY Amount 
	END

	IF @Mode ='SelectFlag'
	BEGIN
		 SELECT * FROM [dbo].[MaintenanceMaster] WHERE IsActive=@IsActive ORDER BY Amount 
	END

	IF @Mode ='SelectByGroupId'
	BEGIN
		 SELECT Amount FROM [dbo].[MaintenanceMaster]  WHERE GroupId = @GroupId ORDER BY Amount

	END

	IF @Mode='Delete'
		BEGIN
				SET @IsActive = (SELECT IsActive FROM [dbo].[MaintenanceMaster] WHERE MaintenanceId=@MaintenanceId)

				IF @IsActive = '1'
					SET @IsActive = '0'
				ELSE 
				SET @IsActive = '1'

			 	UPDATE [dbo].[MaintenanceMaster] SET IsActive=@IsActive,UpdatedBy=@UpdatedBy, 
				UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
				WHERE MaintenanceId=@MaintenanceId
				SET @NewRowsInsert =  @@ROWCOUNT
		END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_OwnerMaster]    Script Date: 16-May-20 2:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_OwnerMaster] 
		@OwnerId	BIGINT =NULL,
		@OwnerName	VARCHAR(50) =NULL,
		@BunglowNo	VARCHAR(50) =NULL,
		@AnotherAddress	VARCHAR(50) =NULL,
		@Mobile	VARCHAR(50) =NULL,
		@EmailId	VARCHAR(50) =NULL,
		@LastUnit FLOAT =NULL,
		@GroupId BIGINT =NULL,
		@CreatedAt DATETIME =NULL,
		@UpdatedAt DATETIME =NULL,
		@CreatedBy	BIGINT =NULL,
		@UpdatedBy BIGINT =NULL,
		@IsActive BIT=NULL,
		@count INT = NULL,
		@NewRowsInsert BIGINT=NULL OUTPUT,
		@RowsInsert BIT=NULL OUTPUT,
		@Mode NVARCHAR(50)=NULL
		AS
BEGIN
	SET NOCOUNT OFF;  
	--DECLARE @RowCount1 INTEGER

	SET @NewRowsInsert = 0  

	IF @Mode='Insert'
		BEGIN
		--Note Ishan : BunglowNo = 101  => A-101

			IF NOT EXISTS (SELECT BunglowNo FROM [dbo].[OwnerMaster] WHERE BunglowNo=@BunglowNo)
			BEGIN
			DECLARE @GroupName VARCHAR(50)
			SET @GroupName = (SELECT GroupName FROM [dbo].[GroupMaster] WHERE GroupId=@GroupId)
			SET @BunglowNo = @GroupName+'-'+@BunglowNo

			 INSERT INTO [dbo].[OwnerMaster] (OwnerName, BunglowNo, AnotherAddress, Mobile, EmailId, LastUnit, GroupId, CreatedAt, UpdatedAt, CreatedBy, UpdatedBy, IsActive) VALUES
								(@OwnerName, @BunglowNo, @AnotherAddress, @Mobile, @EmailId, @LastUnit, @GroupId, 
								CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')), 
								@CreatedBy, @UpdatedBy,@IsActive)
			SET @NewRowsInsert =  @@identity
			END
		END

	IF @Mode='Update'
		BEGIN
			IF NOT EXISTS (SELECT OwnerName FROM [dbo].[OwnerMaster] WHERE OwnerName=@OwnerName and Mobile=@Mobile)
				BEGIN
					UPDATE [dbo].[OwnerMaster] 
					SET OwnerName=@OwnerName, BunglowNo=@BunglowNo, AnotherAddress=@AnotherAddress, Mobile=@Mobile, EmailId=@EmailId, 
					LastUnit=@LastUnit, GroupId=@GroupId, UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE OwnerId=@OwnerId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
			ELSE
			BEGIN 
				IF  EXISTS (SELECT OwnerName FROM [dbo].[OwnerMaster] WHERE OwnerName=@OwnerName and Mobile=@Mobile and OwnerId=@OwnerId)
				BEGIN
					UPDATE [dbo].[OwnerMaster] 
					SET OwnerName=@OwnerName, BunglowNo=@BunglowNo, AnotherAddress=@AnotherAddress, Mobile=@Mobile, EmailId=@EmailId, 
					LastUnit=@LastUnit, GroupId=@GroupId, UpdatedBy=@UpdatedBy, 
					UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
					WHERE OwnerId=@OwnerId
					SET @NewRowsInsert =  @@ROWCOUNT
				END
				 
			END
			END

	IF @Mode ='SelectById'
	BEGIN
	SELECT * FROM [dbo].[OwnerMaster] WHERE OwnerId=@OwnerId
	END
		
	IF @Mode ='SelectAll'
	BEGIN
		 SELECT om.*,gm.GroupName FROM [dbo].[OwnerMaster] AS om  
		 INNER JOIN  [dbo].[GroupMaster] gm ON om.GroupId=gm.GroupId ORDER BY OwnerName
	END


	IF @Mode ='SelectByGroupId'
	BEGIN
		 SELECT OwnerId,OwnerName,BunglowNo,LastUnit FROM [dbo].[OwnerMaster]  WHERE GroupId = @GroupId ORDER BY BunglowNo
	END

	IF @Mode ='SelectByBunglowNo'
	BEGIN
		 SELECT OwnerId,OwnerName,BunglowNo,LastUnit FROM [dbo].[OwnerMaster]  WHERE BunglowNo = @BunglowNo 
	END

	IF @Mode ='SelectFlag'
	BEGIN
		 SELECT * FROM [dbo].[OwnerMaster] WHERE IsActive=@IsActive ORDER BY OwnerName
	END

	IF @Mode='Delete'
		BEGIN
				SET @IsActive = (SELECT IsActive FROM [dbo].[OwnerMaster] WHERE OwnerId=@OwnerId)

				IF @IsActive = '1'
					SET @IsActive = '0'
				ELSE 
				SET @IsActive = '1'

			 	UPDATE [dbo].[OwnerMaster] SET IsActive=@IsActive,UpdatedBy=@UpdatedBy, 
				UpdatedAt =CONVERT(DATETIME,SWITCHOFFSET(SYSDATETIMEOFFSET(), '+05:30')) 
				WHERE OwnerId=@OwnerId
				SET @NewRowsInsert =  @@ROWCOUNT
		END

END
GO
/****** Object:  StoredProcedure [dbo].[SP_StudentMaster]    Script Date: 16-May-20 2:57:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_StudentMaster] 
		
		@StudentId	int =null,
		@StudentEmail	varchar(50) =null,
		@StudentName	varchar(50) =null,
		@NewRowsInsert bigint=null OUTPUT,
		@RowsInsert bit=null OUTPUT,
		@Mode nvarchar(50)=null
		AS
BEGIN
	SET NOCOUNT OFF;  
	DECLARE @RowCount1 INTEGER

	SET @NewRowsInsert = 0  

	IF @Mode='Insert'
		BEGIN
			 
			 INSERT INTO [dbo].[StudentMaster] (StudentName, [StudentEmail]) VALUES
								(@StudentName, @StudentEmail)
			SET @NewRowsInsert =  @@identity
			 
		END

		IF @Mode='SelectALL'
		BEGIN
			 
			SELECT * FROM StudentMaster 
			 
		END
		 
END
GO
