<div class="wrapper">

  <!-- Navbar -->
  <app-admin-nav-bar></app-admin-nav-bar>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <app-admin-main-side-bar></app-admin-main-side-bar>
 

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  
  <!-- /.content-wrapper -->
  <!-- Control Sidebar -->
  <app-admin-control-side-bar></app-admin-control-side-bar>
  <!-- /.control-sidebar -->
  

  <!-- Main Footer -->
  <app-admin-footer></app-admin-footer>
</div>
